@model CreateRoleViewModel
@{
    ViewData["Title"] = "CreateRole";
}


    <div class="container">
        <main role="main" class="pb-3">


            <h1>Create Role</h1>
            <div class="row">
                <div class="col-md-4">
                    <section>
                        <form id="role" method="post" novalidate="novalidate">
                            <h4>Add New User Role</h4>
                            <hr>
                            <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                                <ul>
                                    <li style="display:none"></li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <label for="Name">Role Name</label>
                                <input class="form-control"asp-for="Name" value="">
                                <span class="text-danger field-validation-valid" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <button id="login-submit" type="submit" class="btn btn-primary">Create Role</button>
                            </div>
                        </form>
                    </section>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <section>
                        <h4>Use another service to log in.</h4>
                        <hr>
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    </section>
                </div>
            </div>


        </main>
    </div>